/* design a portfolio page */
body {
  /* add background image with url https://cdn.discordapp.com/attachments/1033802934049321130/1037311330467721216/CloudyBGAsset_18x.png */
  background-image: url(https://cdn.discordapp.com/attachments/1033802934049321130/1037311330467721216/CloudyBGAsset_18x.png);
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: #000000;
  /* add font family */
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(44, 44, 44);
    margin: 0;
    padding: 0;
    /* center divs in it */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* body > img is an profile photo that gets bigger on hover */

body > img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 50%;
    border: 5px solid #f0f0f0;
    transition: all 0.5s ease;
}

body > img:hover {
    border: 5px solid #f0f0f0;
    transform: scale(1.1);
}



body > h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body > p {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    /* center this and give max width */
    text-align: center;
    max-width: 600px;

}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

a:visited {
    color: #333;
}

a:active {
    color: #333;
}

a:focus {
    color: #333;
}

a:link {
    color: #333;
}

body > .project {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #eee;
    border-left: 5px solid #eee;
    border-right: 5px solid #eee;
    border-bottom: 5px solid #eee;    
}

/* align buttons horizantel and centered with horizantal and vertical as mini buttons */

body > .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body > .buttons > a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    border: 0px solid #eee;
    border-left: 0px solid #eee;
    border-right: 0px solid #eee;
    border-bottom: 0px solid #eee;
    transition: all 0.5s ease;
    /* force buttons to be square */
    width: 50px;
    height: 50px;
    /* align image horizantel and vertically centered */
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .buttons > a:hover {
    background-color: #f0f0f0;
    border: 2px solid #f0f0f0;
    border-left: 2px solid #f0f0f0;
    border-right: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    /* transparent background color */
    background-color: rgba(255, 255, 255, 0.3);
}

body > .buttons > a > img {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

body > .buttons > a > span {
    display: none;
}


body > .background {
  /* make this div at the end of the page an z axis behind and behind of the content */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-repeat: repeat-y;
    background-size: 100%;

}